@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

@font-face {
    font-family: odin;
    src: url(/repos/sign-up-form/font/Norse-Bold\(1\).otf);
}

body {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.left {
    background-image: url("images/building.jpg");
    background-position: 25%;
    background-size: cover;
    flex: 4 1 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.right {
    flex: 7 1 0;
    background-color: rgba(255, 0, 0, 0.5);
}

.left a,
#credit {
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    text-align: center;
}

.container {
    height: 100vh;
    flex: auto;
}

.header {
    position: relative;
    top: 11rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    padding: 1rem 0;
    flex: 0 1 auto;
}

#logo {
    height: calc(8px + 6vw);
    align-self: center;
}

#site-name {
    color: white;
    margin: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 6rem;
    font-family: odin;
}

.right {
    font-family: "Roboto";
}

.right .description {
    background-color: rgb(225, 223, 223);
    margin: 0;
    padding: 0;
    height: 40%;
    display: flex;
    flex-direction: column;
}

.right .description .info {
    margin-top: auto;
    padding-left: 5rem;
    padding-bottom: 2rem;
}

.info p {
    font-size: 130%;
    font-weight: 600;
}
.right .form {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 35%;
}

.right .submit {
    background-color: rgb(225, 223, 223);
    margin: 0;
    padding: 0;
    height: 25%;
}

.log-in {
    color: rgb(104, 104, 104);
}

.submit button {
    margin: 2rem 2rem 1rem;
    padding: 10px 3rem;
    color: white;
    background-color: black;
    border-radius: 8px;
    border: 0;
    font-weight: bold;
    font-size: large;
}

.account {
    margin: 0 2rem 1rem;
}

.info :nth-child(2) {
    margin-top: 0;
}

.info :nth-child(1) {
    margin-bottom: 0;
}

.info {
    font-size: 1.2rem;
    margin-right: 100px;
}